<!DOCTYPE html>
<html lang="en">

<!--自适应屏幕大小-->
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<head>
    <meta charset="UTF-8">
    <title>OpenAI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
        .titletext{
            font-size: 30px;
            font-weight: bold;
            color: #000000;
            text-align: center;
            margin-top: 20px;
        }
</style>
<body>
        <div class="titletext">导航页</div>
</body>
</html>
